<p-card class="article-card h-full flex flex-column">
    <ng-template #header>
        <img [alt]="article().title" [src]="article().image" class="article-card__image" />
    </ng-template>
    <ng-template #title>{{ article().title }}</ng-template>
    <ng-template #subtitle>
        <span>{{ article().author }}</span> &bull; <span>{{ article().createdAt }}</span>
    </ng-template>
    <p class="article-card__description">{{ article().description }}</p>
    <ng-template #footer>
        <p-button label="Lire la suite" [outlined]="true" class="w-full" />
    </ng-template>
</p-card>
